.report-reason-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(180, 180, 180, 0.8);
}

.report-reason-popup {
    position: fixed;
    top: calc(50vh - (390px /2));
    left: calc(50vw - (485px/2));
    background: #2c3e50;
    color: white;
    padding: 25px 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.report-reason-popup__form {
    margin-bottom: 0;
}

.report-reason-popup__form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.report-reason-popup__form legend {
    margin-bottom: 10px;
    padding: 0;
}

.report-reason-popup__list {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
}

.report-reason-popup__list label {
    display: block;
}

.report-reason-popup__list li:last-of-type input {
    margin-bottom: 10px;
}

.report-reason-popup__list li:last-of-type {
    position: relative;
}

.report-reason-popup__custom-report-reason-char-counter-wrapper {
    position: absolute;
    right: 15px;
    top: 2px;
    font-style: italic;
}

.report-reason-popup__custom-report-reason {
    width: 360px;
    min-height: 60px;
    margin-left: 15px;
    margin-bottom: 0;
    resize: vertical;
}

.report-reason-popup__validation-error {
    display: none;
    color: #e74c3c;
    font-weight: bold;
    width: 375px;
    min-height: 24px;
    margin: -10px auto 10px;
    text-align: center;
    border: 2px solid transparent;
}

.report-reason-popup__validation-error--blink {
    animation: 1.75s blinkBorder ease-in-out;
}

@keyframes blinkBorder {
    from {}

    to {
        border-color: red;
    }
}

.report-reason-popup__button {
    width: 110px;
    height: 35px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.report-reason-popup__button:hover {
    cursor: pointer;
}

.report-reason-popup__button--save {
    background-color: #27ae60;
}

.report-reason-popup__button--save[disabled] {
    background: darkgreen;
    color: darkgrey;
    cursor: not-allowed;
}

.report-reason-popup__button--save[disabled] .qa-waiting {
    margin: 0 -20px 0 10px;
    border-radius: 10px;
}

.report-reason-popup__button--cancel {
    background-color: #e74c3c;
}

.report-reason-popup__button--save,
.report-reason-popup__button--cancel {
    margin: 0 0 0 55px;
}

.report-reason-popup__button--close {
    display: block;
    margin: 20px auto 0;
    background: #27ae60;
}

.report-reason-popup__request-feedback {
    display: none;
    left: calc(50vw - (300px/2));
}

.report-reason-popup__request-feedback-info {
    text-align: center;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
