// welp - probably MZ's HTML
[style='padding:10px; background-color:#fff; font-size: 17px;margin-bottom:5px; text-align:center;']{
	background-color: $bcg !important;
	color: $color !important;

	div:first-child {
		border-color: $border-light !important;
	}

	img {
		display: inline !important;
		filter: grayscale(50%);
		opacity: 0.5;

		transition: all 0.2s;

		&:hover, &:focus {
			filter: grayscale(0%);
			opacity: 1;
		}
	}
}
