.qam-search {
	background-color: $bcg-dark;
}

.qa-search {
	background-color: $bcg-dark !important;
	padding: 8px 0;

}

.qa-search-field {
	border-color: $border;
	background-color: $bcg;
	outline-color: $border;
	color: $color;

	&:focus {
		background-color: $green;
		color: white;
	}
}

.qa-search-button {
	background-color: $bcg !important;
	border: 1px solid $border;

	opacity: 0.8;
}
