.qa-outdated-question-container{
    width: 100%;

    text-align: center;
    padding: 4%;

    border: 6px solid #f74040;
    margin-bottom: 5%;
}

.qa-outdated-question-info{
    padding: 2%;
    width: 100%;

    

    font-size: 1.5rem;
}