.qa-outdated-question-container{
    width: 100%;

    text-align: center;
    padding: 1%;

    border: 6px solid #f74040;
    margin-bottom: 2.5%;
    font-size: 1.5rem;
}

.hidden{
    display: none;
}