Options -Indexes
DirectoryIndex index.php

# Change the path below in production or other environments
ErrorDocument 403 /vagrant/forum/index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^www.forum.pasja-informatyki.pl$ [NC]
    RewriteRule ^(.*)$ https://forum.pasja-informatyki.pl/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^forum.pasja-informatyki.pl$ [NC]
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteRule ^questions/telefony-tablety$ /questions/urzadzenia-mobilne [R=301,L]
    RewriteRule ^questions/egzaminy-e12-e13-e14$ /questions/egzaminy-zawodowe [R=301,L]
    RewriteRule ^/questions/programowanie/javascript-jquery-ajax$ /questions/programowanie/javascript [R=301,L]
    RewriteRule ^/questions/programowanie/php-symfony-zend$ /questions/programowanie/php [R=301,L]
    RewriteRule ^/questions/programowanie/mysql-bazy-danych$ /questions/programowanie/sql-bazy-danych [R=301,L]
    RewriteRule ^/questions/programowanie/c-sharp-dot-net$ /questions/programowanie/c-sharp [R=301,L]
    RewriteRule ^/questions/programowanie/python-django$ /questions/programowanie/python [R=301,L]
    RewriteRule ^/questions/programowanie/ruby-i-ruby-on-rails$ /questions/programowanie/ruby [R=301,L]
    RewriteRule ^/questions/programowanie/arduino$ /questions/programowanie/mikrokontrolery [R=301,L]

    #RewriteBase /
    RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
    RewriteRule . %1/%2 [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ index.php?qa-rewrite=$0&%{QUERY_STRING} [L]
</IfModule>
