.q2a-change-username-history-list {
    list-style: none;
    width: 100%;
    position: relative;

    --primary-color: #4aa3df;
    --secondary-color: white;
}

.q2a-change-username-history-list::before {
    content: '';
    position: absolute;
    left: 19px;
    height: 100%;
    width: 5px;
    background: var(--primary-color);
}

.q2a-change-username-history-list__item {
    border: 2px solid var(--primary-color);
    position: relative;
    margin: 20px 0px;
    border-radius: 5px;
}

.q2a-change-username-history-list__item::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 2px solid var(--secondary-color);
}

.q2a-change-username-history-list__entry {
    display: flex;
    justify-content: space-between;
}

.q2a-change-username-history-list__datetime {
    display: flex;
    flex-direction: column;
    padding: 3px 10px;
}

.q2a-change-username-history-list__datetime :first-child {
    font-weight: bold;
    font-size: 1.5em;
}

.q2a-change-username-history-list__info {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.q2a-change-username-history-list__info i {
    font-size: 1.5em;
    color: var(--primary-color);
}

@media screen and (max-width: 460px) {
    .q2a-change-username-history-list__entry {
        flex-direction: column;
    }

    .q2a-change-username-history-list__datetime {
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px dashed var(--primary-color);
        padding-bottom: 10px;
    }

    .q2a-change-username-history-list__datetime time {
        flex-basis: 50%;
        text-align: center;
    }

    .q2a-change-username-history-list__datetime :nth-child(2) {
        margin-top: 6.2px;
    }

    .q2a-change-username-history-list__info {
        min-height: 50px;
        text-align: center;
    }

    .q2a-change-username-history-list__info span {
        flex-basis: 45%;
        padding: 5px;
    }

    .q2a-change-username-history-list__info i {
        flex-basis: 10%;
    }
}

@media screen and (max-width: 375px) {
    .q2a-change-username-history-list__datetime {
        flex-direction: column;
        align-items: center;
        font-size: 0.75rem;
        margin-bottom: 5px;
    }

    .q2a-change-username-history-list__info {
        flex-direction: column;
    }

    .q2a-change-username-history-list__info i {
        margin: -10px 0;
        text-align: center;
        transform: rotate(90deg) translateY(-5px);
    }
}