.qa-main-heading {
    position: relative;
    margin: 0 0 5px;
    padding: 8px 52px 8px 20px;
    background: #3498db;
    color: #fff;
}
.qa-success {
    background: #27ae60;
    position: relative;
    z-index: 999;
}
.qa-nav-main-activity .qa-nav-main-link:before {
    content: '\e804';
}
.qa-nav-main-questions .qa-nav-main-link:before {
    content: '\e80b';
}
.qa-nav-main-hot .qa-nav-main-link {
    color: #f39c12;
}
.qa-nav-main-hot .qa-nav-main-link:before {
    content: '\e805';
}
.qa-nav-main-hot .qa-nav-main-link.qa-nav-main-selected {
    color: #f5b043;
}
.qa-nav-main-unanswered .qa-nav-main-link:before {
    content: '\e80c';
}
.qa-nav-main-tag .qa-nav-main-link:before {
    content: '\e806';
}
.qa-nav-main-categories .qa-nav-main-link:before {
    content: '\e808';
}
.qa-nav-main-user .qa-nav-main-link:before {
    content: '\e809';
}
.qa-nav-main-ask .qa-nav-main-link {
    color: #2ecc71;
}
.qa-nav-main-ask .qa-nav-main-link:before {
    content: '\e801';
}
.qa-nav-main-ask .qa-nav-main-link.qa-nav-main-selected {
    color: #54d98c;
}
.qa-nav-main-admin .qa-nav-main-link:before {
    content: '\e80a';
}
.qa-nav-main- .qa-nav-main-link:before {
    content: '\e80d';
}
.qa-nav-sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
#qam-account-toggle:hover {
    background: #445f7a;
}
.qam-account-items .qa-form-tall-button-login {
    width: 100%;
}
.qa-q-view-content,
.qa-a-item-content,
.qa-c-item-content {
    word-wrap: break-word;
}
.qa-q-view-content table, .qa-a-item-content table, .qa-c-item-content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 20px;
}
.qa-q-view-content tr:hover, .qa-a-item-content tr:hover, .qa-c-item-content tr:hover {
    background-color: #f4f4f4;
}
.qa-q-view-content th, .qa-a-item-content th, .qa-c-item-content th,
.qa-q-view-content td, .qa-a-item-content td, .qa-c-item-content td {
    padding: 10px;
    border: 1px solid #e0e0e0;
    text-align: left;
}
.qa-q-view-content th, .qa-a-item-content th, .qa-c-item-content th {
    background-color: #eaeaea;
    font-weight: 700;
}
.qa-q-view-content td, .qa-a-item-content td, .qa-c-item-content td {
}
.qa-q-view-content ul, .qa-a-item-content ul, .qa-c-item-content ul,
.qa-q-view-content ol, .qa-a-item-content ol, .qa-c-item-content ol {
    margin-left: 20px;
    padding: 0;
}
.qa-template-user-activity .qa-q-item-stats {
    width: 65px;
} /*usuniete*/
.qa-template-user-answers .qa-q-item-stats {
    width: 68px;
} /*usuniete*/
.qa-netvote-count-data, .qa-a-count-data {
    font-size: 24px;
    line-height: 40px;
    display: block;
    white-space: nowrap;
}
/* separate vote buttons counter */
.qa-vote-count-updown {
    line-height: 1.5;
}
.qa-upvote-count,
.qa-downvote-count {
    text-align: center;
    display: block;
}
.qa-upvote-count-data,
.qa-downvote-count-data {
    display: block;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 700;
}
.qa-upvote-count-pad,
.qa-downvote-count-pad {
    display: none;
}
.qa-vote-one-button {
    top: 25px;
}
.qa-ranking-item {
    display: inline-block;
    position: relative;
    margin: 5px;
    padding: 5px;
}
.qa-top-users-item {
    width: 100%;
    max-width: 320px;
}
.qa-top-tags-item {
    width: 100%;
    max-width: 150px;
}
.qa-top-users-score {
    position: relative;
    float: right;
    padding: 2px 6px 2px 6px;
    background-color: #2ecc71;
    color: #fff;
}
.qa-ranking-users-points .qa-top-users-score {
    padding-left: 1.8em;
}
.qa-ranking-users-points .qa-top-users-score:before {
    content: '\e810';
    font-family: "fontello";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background-color: #27ae60;
    text-align: center;
    line-height: 1.6em;
}
.qa-form-wide-label {
    padding-right: 5px;
}
.qa-form-wide-data {
    padding-left: 5px;
}
.qa-form-tall-help, .qa-form-wide-help {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    border-radius: 18px;
    background-color: #3498db;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    cursor: help;
}
.qa-part-form-profile .qa-form-wide-data {
    word-break: break-word;
}
.qa-q-view {
    background: #fff;
    padding-bottom: 20px;
}
.qa-part-form-q-edit + .qa-q-view .qa-q-view-avatar-meta {
    margin: 0;
}
.qa-part-form-q-edit + .qa-q-view .qa-q-view-meta {
    border: 0;
}
.qa-part-form-q-edit + .qa-q-view .qa-q-view-c-list {
    margin-left: 10px;
}
.qa-q-item-flags, .qa-q-view-flags, .qa-a-item-flags, .qa-c-item-flags {
    color: #e74c3c;
    font-weight: bold;
    padding-left: 4px;
}
/* highlight selected answer */
.qa-a-list-item:target{
    -webkit-animation: answer-highlight 2s ease-in-out;
    animation: answer-highlight 2s ease-in-out;
}
/* highlight selected comment */
.qa-c-list-item:target {
    -webkit-animation: comment-highlight 2s ease-in-out;
    animation: comment-highlight 2s ease-in-out;
}
/* voting styles for comments */
.qa-c-list-item .qa-voting {
    width: auto;
    height: auto;
    background-color: transparent;
}
.qa-c-list-item .qa-vote-buttons {
    height: 22px;
    width: 12px;
    margin-right: 4px;
}
.qa-c-list-item .qa-vote-count {
    float: left;
    min-width: 16px;
    margin-right: 8px;
}
.qa-c-list-item .qa-netvote-count {
    text-align: left;
}
.qa-c-list-item .qa-netvote-count-data {
    font-size: 13px;
    line-height: 18px;
}
.qa-c-list-item .qa-upvote-count {
    line-height: 6px;
}
.qa-c-list-item .qa-downvote-count {
    line-height: 14px;
}
.qa-c-list-item .qa-upvote-count-data,
.qa-c-list-item .qa-downvote-count-data {
    font-size: 13px;
    font-weight: normal;
}
.qa-c-list-item .qa-vote-up-button,
.qa-c-list-item .qa-vote-down-button,
.qa-c-list-item .qa-voted-up-button,
.qa-c-list-item .qa-voted-down-button,
.qa-c-list-item .qa-vote-up-disabled,
.qa-c-list-item .qa-vote-down-disabled {
    width: 12px;
    height: 8px;
    left: 0;
}
.qa-c-list-item .qa-vote-first-button {
    top: 0;
}
.qa-c-list-item .qa-vote-second-button {
    top: 12px;
}
.qa-c-list-item .qa-vote-one-button {
    top: 6px;
}
.qa-c-list-item .qa-vote-up-button {
    background-position: -32px 0;
}
.qa-c-list-item .qa-vote-up-button:hover,
.qa-c-list-item .qa-vote-up-button:focus,
.qa-c-list-item .qa-vote-up-button:active {
    background-position: -32px -8px;
}
.qa-c-list-item .qa-vote-down-button {
    background-position: -44px 0;
}
.qa-c-list-item .qa-vote-down-button:hover,
.qa-c-list-item .qa-vote-down-button:focus,
.qa-c-list-item .qa-vote-down-button:active {
    background-position: -44px -8px;
}
.qa-c-list-item .qa-vote-up-disabled {
    background-position: -32px -32px;
}
.qa-c-list-item .qa-vote-up-disabled:hover,
.qa-c-list-item .qa-vote-up-disabled:focus,
.qa-c-list-item .qa-vote-up-disabled:active {
    background-position: -32px -32px;
}
.qa-c-list-item .qa-vote-down-disabled {
    background-position: -44px -32px;
}
.qa-c-list-item .qa-vote-down-disabled:hover,
.qa-c-list-item .qa-vote-down-disabled:focus,
.qa-c-list-item .qa-vote-down-disabled:active {
    background-position: -44px -32px;
}
.qa-c-list-item .qa-voted-up-button {
    background-position: -32px -8px;
}
.qa-c-list-item .qa-voted-up-button:hover,
.qa-c-list-item .qa-voted-up-button:focus,
.qa-c-list-item .qa-voted-up-button:active {
    background-position: -32px 0;
}
.qa-c-list-item .qa-voted-down-button {
    background-position: -44px -8px;
}
.qa-c-list-item .qa-voted-down-button:hover,
.qa-c-list-item .qa-voted-down-button:focus,
.qa-c-list-item .qa-voted-down-button:active {
    background-position: -44px 0;
}
.qa-c-form h2 {
    margin-bottom: 0;
}
.qa-sidepanel {
    word-wrap: break-word;
}
@-webkit-keyframes answer-highlight {
    0% { background-color: #ffffaa; }
    100% { background-color: #fff; }
}
@keyframes answer-highlight {
    0% { background-color: #ffffaa; }
    100% { background-color: #fff; }
}
@-webkit-keyframes comment-highlight {
    0% { background-color: #ffffaa; }
    100% { background-color: #f4f4f4; }
}
@keyframes comment-highlight {
    0% { background-color: #ffffaa; }
    100% { background-color: #f4f4f4; }
}