$bcg: #282c34;
$bcg-dark: #21252b;
$color: #d2d2d2;
$color-dark: #858585;

$red: #c43e33;
$orange: #d17e43;
$violet: #c678dd;
$green: #7cc363;
$grey: #9da5b4;
$blue: #3498db;

$link: lighten($blue, 10%);
$bcg-input: darken($grey, 42%);

$border: #181a1f;
$border-light: #313640;
