.qam-main-nav-wrapper {
	background-color: $bcg-dark;
	border-bottom: 1px solid $border;
	margin-bottom: 3px;
}

.qa-nav-main {
	background-color: $bcg-dark;
}

.qa-nav-main-link, .qa-logo-link {
	background-color: $bcg-dark;
	opacity: 1;

	transition: all 0.1s;

	img { filter: grayscale(10%) }

	&:hover, &:focus, {
		opacity: 1;
		background: none;
		img { filter: grayscale(0%) }
	}
}

.qa-nav-main-selected {
	opacity: 1;
	background: transparent !important;
	border-bottom: 2px solid $blue;
	margin-bottom: -2px;
	img { filter: grayscale(0%) }
}

.qa-logo-active {
	background-color: $bcg-dark;
	opacity: 1;
}


// account
.notifybub.ntfy-event-nill {
	border-color: $border;
	background-color: $bcg;
	color: $color;

	transition: all 0.2s;

	&:hover, &:focus {
		background-color: $bcg-input;
	}
}

.ntfy-event-new {
	color: black;
}

#qam-account-toggle {
	border-color: $border;
	background-color: $bcg;

	transition: all 0.2s;

	&:hover, &:focus {
		background: #3a404b !important; // sorry
	}
}

dfn::after {
    background: $blue;
    color: white;
    border: 1px solid $border;
}

// panel
.qam-account-items {
	background: $bcg !important;
	border: 1px solid $border;
}

.qa-nav-user-item, .qa-nav-user-item {
    padding: 0 20px;
    border-bottom: 1px solid $border;
}

.qa-logged-in, .qam-logged-in-points {
	border-bottom: 1px solid $border;
}

.qa-nav-user-item, .qa-nav-user-item, .qa-logged-in, .qam-logged-in-points {
	&:hover, &:focus {
		background: $bcg-dark
	}
}

.qa-nav-user *:before {
	background-color: $bcg !important;
}
