.qa-part-q-view {
	background-color: $bcg;
	color: $color;
	line-height: 1.5em;

	.social-wrapper { display: none }

	.qa-q-view-buttons, .qa-q-view-meta {
		border-color: $border-light;
	}
}

.qa-a-list-item {
	background: $bcg;
	color: $color;

}
.qa-c-list-item {
	background: $bcg-dark;
	color: $color;
	border: 1px solid $border;

}
.qa-c-item-meta, .qa-a-item-meta, .qa-q-view-meta  {
	border-color: $border-light;
	color: darken($grey, 10%);
	a { color: lighten($grey, 20%) }
}
.qa-c-item-buttons, .qa-a-item-buttons {
	border-color: $border-light;
}

.topic-author {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid;
	border-color: darken($blue, 15%);
}

.qa-part-a-form .qa-form-tall-label {
	font-size: 14px;
}

#a_list_title, .qa-widget-main h2:first-of-type {
	background: $bcg;
	color: $color;
}

.qa-a-select-button, .qa-a-unselect-button, .qa-a-selected {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAASFBMVEUAAAAoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDQoLDTI83MkAAAAF3RSTlMAAvYQgulDGPK+gAnUIQjtHuKHt2gnFLDJB8sAAADzSURBVFjD7dbLCsIwFEXRJm36VFvro///p4IkbCGEC8eJSM78LsruJM3x5SpQgQpIgN/PcbtXAN+1rnlv6SRgapu4VgLC4OL9Mnuhwdine9ePQkQ/X9L9EIS/4DsCTAeAGBBADAggBgQQAwKIAQHEgABiQAAxIIAYEEAMCCAGBBADAogBAcSAAGLAHDilGQFLwHVxcbdSQAto4oZQCGgAzwS4bTUDMhqsm0MwAmYAAh9sBwTIk/WjGRCATR83wQgIUPjtfRbQBujGCGgDuUBAG8gFAlpAQSCgDZQFAtoAwuwIKD2ywsPF3cffe+ZVoAJ/C7wAlyQ+YcQObFIAAAAASUVORK5CYII=')
}

.qa-favorite-button, .qa-unfavorite-button {
	transition: background-color 0.2s;
	background-image: url('data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAByCAMAAAAI/FN9AAAAM1BMVEUAAAAhJSshJSshJSshJSshJSshJSshJSshJSshJSshJSshJSshJSshJSshJSshJSshJSsEpLCCAAAAEHRSTlMAgL9A359gEO/PkHBQIK8w8uVfjgAAAOdJREFUWMPt1EmOAyEMBVDbzDP3P213JZHiBBAsS4r/licwXnzoR7kLC+GIxXjCfMrhgNXm4gFDgOS3LGSAVrcsOgDAHfMJ/pPDhtV2MReXzOtQTVTwSK5B+4Fpg5hsbsXBM65lm/AKcRYbTOMyZ91XNVMlha/ZaOKU0Wy2lVM0WwhlN6qR9WCZK5ZW642cmb5iCCy4Yj5t2fhXqzkbRivWFjbcyPC1Um3U96vwOZpCejxvy5LV9t7VdaHVU4bKsANK2UwZUefxle7XSMKkyaXJpcmlyaXJf5NJk0uTS5NLk9+nkW7D/gAO6Nn5kNk5KAAAAABJRU5ErkJggg==');

	&:hover, &:focus {
		background-color: $color;
	}
}

.qa-favorite-button {
	background-color: $color-dark;
}


blockquote {
	background-color: #3a404b;
    border-left: 7px solid #3498db;

	p {
		color: $color;
	}
}

.closing-topic-info {
	color: $color;
	background-color: $bcg-dark;
	border-color: $border;
}

.qa-q-view {
	background-color: $bcg;
}

.qa-q-view-closed {
	background-color: $bcg-dark;
	border-color: $border;

	transition: all 0.1s;

	&:before {
		content: url('/qa-theme/SnowFlat/images/icons/closed-note-white.png');
		background-color: #3a404b;
		opacity: 0.8;

		transition: all 0.1s;
	}
}

div#qa-poll-div {
	background-color: $bcg-dark;
	border-color: $border;
}

// highlighter
.syntaxhighlighter-block-bar {
	border: 1px solid $border;
	background: $bcg-dark;
	border-radius: 50px 50px 1px 1px;
}

.syntaxhighlighter {
	margin-top: 0 !important;
	border: 1px solid $border;
	border-top: none;
}

.modal-background {
	.qa-flag-reasons-wrap {
		-webkit-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
		background-color: #282c34;

		.qa-spam-reason-text::-webkit-input-placeholder {
			color: #181a1f
		}

		.qa-spam-reason-text::-moz-placeholder {
			color: #181a1f
		}

		.qa-spam-reason-text::placeholder {
			color: #181a1f
		}
	}
}

// snippets
.snippets-parent:hover::before {
	border: 1px solid white;
}

.snippets-parent:hover::after {
	border-top-color: white;
}
