.qa-part-ranking {
	background: $bcg;
	border: 1px solid $border;
}

.qa-top-users-label .qa-avatar-link img {
	border: 1px solid $border;
}

.qa-top-users-label .qa-user-link {
	background-color: $bcg-dark;
	border: 1px solid $border;
	color: $color;

	&:hover {
		background-color: $bcg-dark;
		border-right-color: $blue;
	}

	&::before {
		border-right: 5px solid $border;
	}

	&::after {
		display: none;
	}
}
