.qa-custom-center {
    margin-bottom: 5px;
    padding: 10px;
}

.qa-custom-center a {
    color: #fff;
    border-bottom: 1px dotted #fff;
}
.qa-custom-center a:hover {
    color: #fff;
    border-bottom: 0;
}

.qa-custom-center {
    margin-bottom: 0;
    /*background: #d35400;*/
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
}

.qa-part-form-profile .qa-form-tall-spacer ,
.qa-part-form-profile .qa-form-wide-data,
.qa-part-form-profile .qa-form-wide-label {
    border-top: none !important;
    border-bottom: none !important;
    padding: 10px 5px;
}

.qa-part-form-profile .qa-form-wide-label,
.qa-part-form-profile .qa-form-wide-data,
.qa-part-form-profile .qa-form-tall-spacer {
    border-top: none !important;
    border-bottom: none !important;
}

.qa-part-form-password .qa-form-tall-spacer ,
.qa-part-form-password .qa-form-wide-data,
.qa-part-form-password .qa-form-wide-label {
    border-top: none !important;
    border-bottom: none !important;
    padding: 10px 5px;
}

.qa-part-form-password .qa-form-wide-label,
.qa-part-form-password .qa-form-wide-data,
.qa-part-form-password .qa-form-tall-spacer {
    border-top: none !important;
    border-bottom: none !important;
}
