body {
	background: $bcg-dark;
	background-image: none !important;
	color: $color;
}

a {
	color: $link;
	&:visited, &:hover, &:focus {
		color: $link;
	}
}

input, textarea, select {
	padding: 6px 10px;
	margin: 2px 8px;
	background-color: $bcg-input;
	border: 1px solid $border;
	color: $color;
	outline: none;
}

input:focus, textarea:focus, select:focus {
    background-color: $bcg-input;
    border-color: darken($blue, 15%);
}
// .qa-form-light-button {
// 	background: $blue none center no-repeat;
// }

.level-expert, .level-expert a {
	color: $violet !important;
}
.level-administrator, .level-administrator a {
	color: #f36767 !important;
}
.level-moderator, .level-moderator a {
	color: $green !important;
}
.level-editor, .level-editor a {
	color: #dcc461 !important;
}

.qa-q-item-meta .qa-user-link.qa-user-favorited:before {
	content: "";
	background: url(/qa-theme/SnowFlat/images/star14.png);
	background-size: cover;
	display: block;
	width: 14px;
	height: 14px;
}
