.qam-main-nav-wrapper {
	background-color: $bcg-dark;
	border-bottom: 1px solid $border;
	margin-bottom: 3px;
}

.qa-nav-main {
	background-color: $bcg-dark;
}
.qa-nav-main-link, .qa-logo-link {
	background-color: $bcg-dark;
	opacity: 1;

	transition: all 0.1s;

	img { filter: grayscale(10%) }

	&:hover, &:focus, {
		opacity: 1;
		background: none;
		img { filter: grayscale(0%) }
	}
}
.qa-nav-main-selected {
	opacity: 1;
	background: transparent !important;
	border-bottom: 2px solid $blue;
	margin-bottom: -2px;
	img { filter: grayscale(0%) }
}

.qa-logo-active {
	background-color: $bcg-dark;
	opacity: 1;
}


// account
.notifybub {
	border-color: $border;
	background-color: $bcg;
	color: $color;
}
.ntfy-event-new {
	color: black;
}

#qam-account-toggle {
	border-color: $border;
	background-color: $border;
}
